html, body {
    width:100vw;
    height: 100%; /* Make html and body fill the viewport height */
    margin: 0;   /* Remove default body margin */
    padding: 0;  /* Remove default body padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding:5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
#display{
    height:50%;
    width:100%;
    max-width:380px;
    border:none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 4px solid rgb(7, 7, 71);
    padding:5px;
    margin-top:15px;
    margin-bottom:15px;
    box-sizing: border-box;
}
.holder{
    height:100%;
    width:4%;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.item{
    background-color: rgb(105,105,224);
    width:100%;
}
#sort{
    display:flex;
    padding-bottom:15px;
}
#renew_list,#sort_button{
    height:30px;
    font-size: 20px;
    color:white;
    border:none;
    border-radius: 30px;
    background-color: rgb(214, 83, 35);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
#renew_list{
    padding-left:0.2in;
    padding-right:0.2in;
}
#sort_button{
    width:0.75in;
}
#sort_option{
    font-size: 18px;
    height:30px;
    margin-right:0.1in;
    padding-left:0.2in;
    padding-right:0.2in;
    border-radius: 30px;
    border-width: 2px;
    border-color: rgb(7, 7, 71);
    text-align-last: center;
    -webkit-appearance: none; /*newly added*/
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
#sort_option option{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
#sort_option:focus{
    outline: none;
}
#source_code{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(105,105,224);
}
